# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Application Specific
.cache/
data/
chroma_db/
app.log

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/
